/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */ 
	html,
	button,
	input,
	select,
	textarea {
	    color: #222;
	}
	html{
	    width: 100%; height: 100%; 
	}
	body {
	    font-size: 1em;
	    line-height: 1.4;
	    width: 100%; 
	    height: 100%;
	    background: #000;
	    margin: 0;
	    overflow: hidden; 
	}

	::-moz-selection {
	    background: #b3d4fc;
	    text-shadow: none;
	}

	::selection {
	    background: #b3d4fc;
	    text-shadow: none;
	} 

	/*---*/
	img {
	  display: block;
	  /*width: 100%;*/
	}
	.layer{

		pointer-events:none;
	}
	.container{
		width: 100%;
		height: 100%;
	}
	.scene { 
	  margin: 0 auto;
	  max-width: 1920px;
	  min-width: 720px; 
	  height: 100%;
	  padding: 0;
	  overflow: hidden;
	} 
	.obj{
		position: absolute;
	} 
	.chrome{
		top:20px;
		right:20px;
	}
	.fog{
		bottom: -20px;
		left:-30px;
		opacity: .3;
	}
	.panel{
		bottom: -30px;
		left:-60px;
		width: 2300px;
		height: 92px;
		background: url(../img/pass/panel.jpg) repeat-x top;
	}
	.centralpanel{
		width: 306px;
		height: 238px;
		left: 0;
		right: 0;
		bottom: -20px;
		margin:0 auto;
	}
	.droid{
		width: 308px;
		height: 361px;
		left: 0;
		right: 0;
		bottom: 161px;
		margin:0 auto;
	}
	.droid-eyes{
		left: 0;
		right: 0;
		bottom: 415px;
		padding-left: 20px;
		margin:0 auto;
	}
	.tie{
		-webkit-animation: tie 5s 0.1s infinite linear;
		-moz-animation: tie 5s 0.1s infinite linear;
		-ms-animation: tie 5s 0.1s infinite linear;
		animation: tie 5s 0.1s infinite linear;
		bottom:180px; 
	}
	.tieL{
		left:200px; 
	}
	.tieR{
		right:200px; 
	}
	.balloon{
		width: 256px; 
		min-height: 100px;
		bottom: 371px;
		left:450px;
		right:0;
		margin: 0 auto; 
		box-sizing:border-box;
		border-radius: 7px;
	    background: #fff;
	    font-family: arial;
	    font-size: 16px;
	    color:#000;
	    pointer-events: auto !important;
	    display: none;
	}
	.balloon:after{
		content: '';
	    position:absolute; left:-10px; bottom:18px; margin-top:-8px;
	    display:block;
	    width: 0px;
	    height: 0px;
	    border-top: 10px solid transparent;
	    border-bottom: 10px solid transparent;
	    border-right: 10px solid #fff;
	}
	.balloon p{
		font-family: impact,arial;
		color:#000;
		font-size: 20px;
		padding: 20px;
		margin: 0;
	}
	.sky{
		left:-60px;top:-60px;
	}
	.stars0{
		left:-360px;top:-60px;	
		width: 3000px;
		opacity: .5;
	}
	.stars1{
		left:-60px;top:-60px;
	}
	.backlight{
		left:0;
		right:0;
		margin: 0 auto;
		bottom: 0;
	}
	.browser{
		/*opacity: 0;*/
		width: 100px;
		height: 100px;
		top:50px;
		left:-20px;
		/*background: #fff;*/
	}
	.device{
		/*opacity: 0;*/
		width: 100px;
		height: 100px;
		top: 93px;
		left: 99px;
		/*background: #fff;*/
	}




	@-ms-keyframes tie {
	  0% {
	    -webkit-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
	    -moz-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
	    transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg); }

	  100% {
	    -webkit-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
	    -moz-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
	    transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg); } 
	}
	@-moz-keyframes tie {
	  0% {
	    -webkit-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
	    -moz-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
	    transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg); }

	  100% {
	    -webkit-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
	    -moz-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
	    transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg); } 
	}
	@-webkit-keyframes tie {
	  0% {
	    -webkit-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
	    -moz-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
	    transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg); }

	  100% {
	    -webkit-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
	    -moz-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
	    transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg); } 
	}
	@keyframes tie {
	  0% {
	    -webkit-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
	    -moz-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
	    transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg); }

	  100% {
	    -webkit-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
	    -moz-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
	    transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg); } 
	}