/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
	color: #222;
}
html{
	width: 100%; height: 100%;
}
body {
	font-size: 1em;
	line-height: 1.4;
	width: 100%;
	min-width: 1050px;
	height: 100%;
	/*background: #5F5F5F;*/
	background: #000;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block; 
	border: 0; 
	margin: 0;
	padding: 0; 
	background: #202020;
}

img {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}


/* ==========================================================================
   Layout
   ========================================================================== */
.center{
	text-align: center !important;
}
.page-wrap{
	width: 100%;
	margin: 0 auto; 
	background-size: 100%;
	-moz-user-select: -moz-none; 
	-webkit-user-select: none; 
	-o-user-select: none; 
	-ms-user-select: none;
	user-select: none;
	position: relative;
	overflow-x:hidden; 
}
header{
	min-height: 50px;
	overflow-y: auto; 
	overflow-x: hidden; 
	background: #868686; 
}
.vklike{ 
	position: absolute;
	top:60px;
	left:0;right:0;
	margin:0 auto;
	display: block;
}
.hw-logo{

}
.hr1{
	height: 7px;
} 
.hr2{
	height: 17px; 
}
.game-logo{
	display: block; 
	margin: 40px auto 0;
}
.version{ 
	height: 20px;
	margin:13px 20px 0;
	float: left;
	color: #fff;
	line-height: 10px;
	opacity: .2;
}
.best-appearance{
	float: right;
	margin-top: 3px;
}
.small-logo{  
	height: 20px;
	margin:0 0 5px 5px; 
}
.content{
	width: 100%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	background: #5F5F5F url(../img/troops-block.png) no-repeat right bottom;
}
.trandy-shadow{ 
	pointer-events:none;
	position: absolute;
	top: 0;left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.4); 
	-webkit-transform-origin:45% 0%;
	-webkit-transform: skew(45deg,0deg); 
	-ms-transform-origin:45% 0%;
	-ms-transform: skew(45deg,0deg); 
	transform-origin:45% 0%;
	transform: skew(45deg,0deg); 

	/*z-index: -1;*/
}
h1{
	color:#000; 
	font-weight: 100;
	display: block;
	width: 500px;
	text-align: center;
	font-size: 0;
	font-family: impact,arial; 
	background: -webkit-linear-gradient(transparent, transparent), url(../img/dsbg.png) no-repeat;
	background: -o-linear-gradient(transparent, transparent); 
	background-clip: text; 
	-webkit-background-clip: text; 
	-webkit-text-fill-color: transparent; 
	margin: 45px auto;
}
h1>.span0{ 
	font-size: 69px; 
	line-height: 59px; 
}
h1>.span1{ 
	font-size: 29px; 
	line-height: 44px; 
}
h1>.span2{ 
	font-size: 99px; 
	line-height: 82px; 
}
.join-button{
	width: 161px;
	height: 50px;
	margin: 0 auto;
	background: url(../img/join-button.jpg) no-repeat top;
	cursor: pointer;
	position: relative;
}
.join-button:hover{
	background-position: 0px -50px;
}
.join-button:active{
	background-position: bottom;
} 
section>p{
	text-indent: 20px;
	text-align: justify;
	color:#000;
}

.shadow-trooper{
	display: block;
	position: relative;
	width: 220px;
	margin: 50px 0 0 405px;
}
.troopatalk{
	position: absolute;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding: 10px;
	top: 41px;
	left: 147px;
	width: 200px;
	/*height: 42px;*/
	border-radius: 7px;
	background: #fff;
	font-family: arial;
	font-size: 16px;
	color:#000;
}
.troopatalk:after{
	content: '';
	position:absolute; left:-10px; top:18px; margin-top:-8px;
	display:block;
	width: 0px;
	height: 0px;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid #fff;
}
.main-footer{
	position: relative; 
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #373737;
	height: 100px;
	background: url(../img/game/bg.jpg) bottom;  
} 
.trashbin{
	position: absolute;
	bottom: 10px;
	left: 20px;
	width: 100px;
	height: 100px;
	cursor: pointer;
}
.trashbin img{
	position: absolute;
	top: 0;
	left: 0;
}
.clean-that-bin{
	margin: 0;
	font-family: Impact, Arial;
	font-size: 69px;
	font-weight: 100;
	color:#fff;
	text-align: center;
	letter-spacing: 2px;
	text-shadow: 5px 5px 5px rgba(0,0,0,.5);
}

.leaderboards{
	width: 800px;
	margin: 20px auto 0;
	border: 4px solid #202020;
	border-radius: 13px;
	background: #aeaeae;
	padding: 20px 20px 50px; 
}
.lboard{
	width: 720px;
	margin: 0 auto;
}
.lboard caption{
	height: 60px;
	border-bottom: 1px solid #777;  
	font-family: Impact,Arial;
	color: #000;
	font-size: 30px;
	letter-spacing: 1px;
	font-weight: 100;
	text-align: center;
}
.lboard thead th{
	height: 55px;
	text-align: left;
	color: #777 !important;
	font-family: Arial !important; 
} 
.lboard td{
	/*width: 14%;*/
	font-size: 18px;
	font-family: Arial; 
	height: 40px;
}
.t-rank{
	width: 60px;
}
.t-icon{
	width: 36px;
}
.t-icon img{
	width: 30px;
	height: 28px;
	border-radius: 3px;
	overflow: hidden; 
	background: #000;
}

.t-username{
	text-align: right !important;
	width: 200px;
	overflow:hidden;
	padding-right: 30px;
	/*color:#fff;*/
}
.t-score{
	width: 150px;
	font-family: Impact, Arial !important;
	color:#B9FF27;
}
.t-shots{
	width: 60px;
	text-align: center;
}
.t-hits{
	width: 60px;
	text-align: center;
}
.t-accuracy{
	width: 80px;
	text-align: right;
}
/* ==========================================================================
	Game classes
   ========================================================================== */
.page-scene{
	width: 100%;  height: 580px; 
	background-size: 100%;
	position: relative; 
	overflow: hidden;
}
.scene{
	position: absolute;
	top:0;left:0;
	width: 100%; height: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	z-index: -1;
	background: #000;
	overflow: hidden;
}
.obj{
	position: absolute;
	left:-50px;
	top:-50px;
}
.sky1{

}
.sky2{

}
.sky3{

}
.chromeplanet{
	display: none;
	width: 185px;
	height: 174px;
	position: absolute;  
	top: 50px; 
	right: -20px;
	pointer-events:none;
}
.holywars{
	display: none;
	width:378px;
	height: 168px;
	position: absolute; 
	top:200px;left:0;right:0;
	margin: auto;
	pointer-events:none;
}
.canvas{
	width: 100%; height: 100%;
	position: relative;
	overflow: hidden;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

.circle {
	position: absolute;
	width: 100px;
	height: 100px;  
	padding: 20px;
}
.score{
	display: none;
	font-family: Impact,Arial;
	font-weight: 100;
	text-rendering: optimizeLegibility;
	font-size: 35px;
	text-align: right;
	color: #769c27; 
	position: absolute;
	top:0;
	left: 0;
	padding-left:20px; 
	pointer-events:none;
}
.ammo{
	display: none;
	width: 170px;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	margin: 0 auto; 
}
.ammo>ul{
	list-style: none;
	margin:0;
	padding:0;
	text-align: center;
}
.bullet{
	display: inline-block;
	width: 20px;
	height: 50px;
	background: url(../img/game/bullet.png) no-repeat; 
}
.bullet-used{
	background: none;
}
.reload{
	/*display: inline-block;*/
	display: none;
	position: absolute;
	right: 0;
	left: 0;
	margin: 0 auto; 
	color: #0F3;
	font-size: 10px;
	text-align: center;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	cursor: pointer; 
	width: 50px;
	height: 50px;
	background: #A03131;
} 
.shot{
	position: absolute;
	pointer-events:none;
}
.miss{
	position: absolute;
	pointer-events:none;
}
.score-animation{
	position: absolute;
	color: #1CDD00;
	font-size: 100%;
	font-weight: bold;
	text-align: center;
	width: 100px;
	height: 100px;
	pointer-events:none;
}

.droid{
	position: absolute;
	pointer-events:none;
}

.title{ 
	width: 615px; 
	text-align: justify; 
	font-family: Impact, Arial; 
	/*font-size: 50px;*/
	font-size: 46px;
	margin: 0 auto;
	color: #fff;
}

.spaceship{
	display: none;
	position: absolute;
	top:0;
	left:0; 
	background: url(../img/game/spaceship.png) no-repeat top;
	background-size: 100%;
	width: 150px;
	height: 112px;
	cursor: pointer;
}
.spaceship:hover{ 
	background: url(../img/game/spaceship.png) no-repeat bottom;
	background-size: 100%; 
}
.spaceship form{
	display: none;
	width: 245px;
	height: 115px;
	position: absolute;
	left: -47px;
	font-size: 16px;
	color: #fff;
	text-align: center;
	padding-top: 8px;
	top:-30px;
	border: 4px solid #202020;
	border-radius: 25px;
	background-color: #5F5F5F; 
	cursor: default;
}
.spaceship input{
	width: 190px;
	height: 25px;
	margin: 10px auto; 
	display: block;
}
.subm{
	width: 60px;
	height: 30px;
	background: #4E9743;
	text-align: center;
	font-size: 16px;
	line-height: 30px;
	color: #fff; 
	margin: 0 auto; 
	cursor: pointer;
}
.subm:hover{ 
	background: #96CD8D; 
}
.game-preloader{
	position: absolute;
	top:250px;
	left:0;right:0;
	margin: 0 auto;
	width: 200px;
	font-family: Impact, Arial; 
	font-size: 50px;
	text-align: center;
	pointer-events:none;
	color:#1CDD00;
}
.circle-button{ 
	border: 4px solid #202020;
	border-radius: 25px;
	background-color: #5F5F5F;
	width: 30px;
	height: 30px;
	z-index: 100;
	cursor: pointer;
}
.circle-button:hover{ 
	background-color: #373737; 
} 
.circle-button:after{
	content: '';
	position: absolute;
	width: 30px;
	height: 30px; 
	font-family: arial;
	font-weight: 800;
	font-size: 22px;
	text-align: center;
	color: #fff; 
}
.pause-control:after{
	content: 'll'; 
} 
.pause-control.pc-paused:after{
	content: '►'; 
	font-size: 17px;
	line-height: 32px;
} 
.pause-control{ 
	display: none;
	position: absolute; 
	right: 65px;
	top:620px; 
}  
.sound-control{
	position: absolute; 
	display: none;
	right: 20px;
	top:620px; 
}
.sound-control:after{  
	background: url(../img/game/sound.png) no-repeat top;
}
.sound-control.sc-muted:after{  
	background: url(../img/game/sound.png) no-repeat bottom;
}

.hitpoints{
	position: absolute;
	display: none;
	top:620px;
	left:20px;
	width: 200px;
	height: 30px;
	border: 4px solid #202020;
	border-radius: 25px;
	background-color: #5F5F5F; 
	z-index: 100;
	overflow: hidden; 
	font-family: Impact,Arial;
	color: #fff;
	font-size: 20px;
	font-weight: 100;
	text-align: center;
	line-height: 30px;
	cursor: default;
}
.current-hp{
	position: absolute;
	top:0;left:0;
	width: 100%;
	height: 100%;
	background: green; 
	z-index: -1;
	transition:width 1s;
}

.enemy-shot{
	position: absolute;
	pointer-events:none; 
}
.desaturate{ 
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: url(grayscale.svg); /* Firefox 4+ */
	filter: gray; /* IE 6-9 */ 
}
.cracked-window{
	position: absolute;
	top:0;left:0;right:0;
	margin:0 auto;
	z-index: 100; 
	pointer-events:none;
}
.game-tint{
	width: 100%;
	height: 100%;
	background: #fff;
	position: absolute;
	top:0;left:0;
	z-index: 1;
	pointer-events:none;
}
.game-reload{
	position: absolute;
	display: none;
	top:435px;
	left:0px;right:0;
	margin: 0 auto;
	width: 200px;
	/*height: 30px;*/
	border: 4px solid #202020;
	border-radius: 25px;
	background-color: #5F5F5F; 
	z-index: 100;
	overflow: hidden; 
	font-family: Impact,Arial;
	color: #fff;
	font-size: 20px;
	font-weight: 100;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
}
/* ==========================================================================
   Custom stuff
   ========================================================================== */
/*Scrollbars*/
::-webkit-scrollbar {
	width: 13px; 
}
::-webkit-scrollbar-track {   
	background: #202020; 
}
::-webkit-scrollbar-thumb {   
	background: #7C7C7C;  
	border-top:1px solid #fff; 
	border-left:1px solid #fff;
	border-right:1px solid #000; 
	border-bottom:1px solid #000; 
}
::-webkit-scrollbar-thumb:window-inactive { 
	background: #7C7C7C; 
}  
   
-moz-appearance:scrollbarthumb-vertical{

}
 